* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
  }
  
  body > div {
    margin: auto;
  }
  
  /* ======= Buttons ======== */
  
  /* Block */
  .btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity 0.2s ease;
  }
  
  /* Modifier */
  .btn--size-l {
    padding: 16px 56px;
  }
  
  .btn--size-s {
    padding: 8px 32px;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .btn + .btn {
    margin-left: 16px;
  }
  
  .btn--success {
    background-color: #71be34;
  }
  
  .btn--warn {
    background-color: #ffb702;
  }
  
  .btn--danger {
    background-color: #ff623d;
  }
  
  .btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
  }
  
  /* ======= Toast message ======== */
  
  #toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 9999999;
  }
  
  .toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px, 20px;
    min-width: 300px;
    max-width: 360px;
    min-height: 80px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0 ,0 ,0.08);
    transition: all liner 0.1s;
  }
@keyframes SlideInLeft {
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes FakeOut {
    to{
        opacity: 0;
    }
}
.toast--Success{
    border-color:#71be34 ;
}

.toast--Success .toast__icon {
    color: #71be34;    
}

.toast--Info{
    border-color:#0065ff ;
}

.toast--Info .toast__icon {
    color: #0065ff;    
}

.toast--Warning{
    border-color: #ffb600;
}
.toast--Warning .toast__icon {
    color: #ffb600;    
}

.toast--Error{
    border-color: #ff623d;
}
.toast--Error .toast__icon {
    color: #ff623d;    
}
.toast + .toast{
    margin-top: 20px;
}
.toast__icon{
    font-size: 24px;
}

.toast__icon,
.toast__close{
    padding: 0 16px;
}


.toast__body{
    flex-grow: 1;
}


.toast__title{
    font-size:16px ;
    font-weight: 600;
    color: #333;
}


.toast__mgs{
    font-size:14px ;
    color: #888;
    margin-top:3px;
    line-height: 1.5;
}


.toast__close{
    font-size: 20px;
    color: rgba(0, 0 ,0 ,0.4);
    cursor: pointer;
}

